ion-content {
    --background: #2C2C2C;
}

ion-toolbar {
    --background: #2C2C2C;
    --color: white;
}

ion-list {
    --background: #3B3B3B;
    border-radius: 12px;
    padding: 15px;
}

.tag {
    background-color: #2C2C2C;
    color: white;
    padding: 4px 8px;
    border-radius: 8px;
    font-size: 12px;
}

ion-searchbar {
    padding: 16px;
    --background: #D9D9D9;
    --color: #2C2C2C;
    --placeholder-color: gray;
}

ion-item {
    --background: #404040;
    margin-bottom: 20px;
    border-radius: 20px;
}

.grupos {
    text-align: justify;
    word-break: break-word;

    ion-checkbox {
        --size: 25px;
        --checkbox-background-checked: #0096F4;

        label {
            width: min-content;
        }
    }

    ion-checkbox::part(container) {
        border-radius: 6px;
        border: 2px solid #D9D9D9;
    }

    ion-button ion-icon {
        color: #E8EAED;
        font-size: 24px;
    }

    div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        h2 {
            font-size: 1rem;
            text-transform: uppercase;
            color: white;
            margin: 8px 0;
            margin-right: 15px;
        }
    }
}